<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Body:</b>
  <%= body %>
</p>

<p>Posts</p>

<div id="posts"></div>

<p>Add post</p>
<input type="text" id="new_post_body">
<input type="submit" id="new_post_submit" value="Add post">

<a href="#/index">Back</a>