<h2>
  <%= title %>
</h2>

<p class="lead">
    <%= body %>
    </br>
    <small><%= created_at %></small>
</p>

<div id="posts"></div>

<form>
    <fieldset>
        <textarea rows=3 id="new_post_body"></textarea>
        <button id="new_post_submit" class="btn btn-primary">Add post</button>
    </fieldset>
</form>